    <header>
        <nav class="r-flex justify-content-center bg-color-1 min-h-12">
            <div class="r-flex align-items-center min-h-12 min-w-15">
                <div>
                    <a href="/products"><img src="./images/icons/brand-logo.png" alt=""></a>
                </div>
                <div class="navbarMenuContainer">
                    <ul id="navbarMenu" class="min-h-5 align-items-center">
                        <li><a href="/products">Productos</a></li>
                        <li><a href="/realtimeproducts">Real Time Products</a></li>
                        <li><a href="/chat">Chat online</a></li>
                        <li><a href="/cart">Carrito</a></li>
                    </ul> 
                </div>
            </div>
            <div class="r-flex justify-content-end align-items-center txt-center">
                <div>
                    <div class="txt-center m-0 p-0">
                        <a href="/profile"><img  src="./images/icons/user.png" alt=""></a>
                    </div>
                        {{#if user}}
                            <div>
                                <strong><p class="m-0 mb-02e5">¡Bienvenido!</p></strong> 
                            </div>
                            <div class="txt-center">
                                <strong><p class="m-0">{{user.role}}: {{user.first_name}} {{user.last_name}}</p></strong> 
                                <strong><p class="m-0">email: {{user.email}}</p></strong> 
                                {{#if isAdmin}}
                                    <p class="m-0 orangered">Esta cuenta tiene derechos de administrador</p>
                                {{/if}}
                            </div>
                            <div class="txt-center mt-02e5">
                                <a href="/api/session/logout"><button>Cerrar sesión</button></a>
                            </div>
                            {{else}}
                            <div class="txt-left">
                                <strong><p class="m-0">Iniciar sesión: <a href="/">aquí</a></p></strong>
                                <strong><p class="m-0">Registrarse: <a href="/register">aquí</a></p></strong> 
                            </div>
                        {{/if}}
                </div>
            </div>
        </nav>
    </header>
<main>
    <div class="txt-center">
        <h1>Chat público</h1>
        <div id="logInContainer" class="m-2">
            <p class="mb-2">Bienvenido al chat público. Si deseas participar en el chat deberás ingresar una dirección de email que te identificará:</p>
            <form>
                <label>Dirección de correo electrónico:</label>
                <input type="text" placeholder="nombre@servidor.com" id="userEmailInput">
            </form>
            <button id="userConfirmationButton" class="mt-1">Confirmar</button>
        </div>  
        <div id="chatContainer" class="hidden">
            <div class="mb-2 min-h-15 min-w-15">
                <p id="messagesLogs"></p>
            </div>
            <div class="flex-row-center">        
                <input placeholder="escribe tu mensaje aqui" id="chatbox" class="chatInput">
                <button id="sendMessageButton">Enviar</button>   
            </div>
        </div>
    </div>
</main>


<script src="/socket.io/socket.io.js"></script>
<script src="/js/chat.js"></script>