<div>
    <h1 class="txt-align-center">Lista de productos</h1>
    <div class="flex-row-center">
        {{#each products}}
            <div class="productCard pad-3">
                <p><strong>Nombre: </strong>{{this.title}}</p>
                <p><strong>Categoria: </strong>{{this.category}}</p>
                <p><strong>Descripción: </strong>{{this.description}}</p>
                <p><strong>Precio: </strong>{{this.price}}</p>
                <p><strong>Stock: </strong>{{this.stock}}</p>
                <p><strong>Código: </strong>{{this.code}}</p>
                <p><strong>id: </strong>{{this._id}}</p>
            </div>
        {{/each}}
    </div>
</div>  
