<div>
    <h1 class="txt-align-center">Lista de productos</h1>
    <div>
        <div class="flex-row-center">
            {{#each products}}
                <div class="productCard pad-3">
                    <img class="productImage" src={{this.thumbnail}} alt="">
                    <p class="minSpaceTitleField"><strong>Nombre: </strong>{{this.title}}</p>
                    <p><strong>Categoria: </strong>{{this.category}}</p>
                    <p class="minSpaceDescriptionField"><strong>Descripción: </strong>{{this.description}}</p>
                    <p><strong>Precio: </strong>{{this.price}}</p>
                    <p><strong>Stock: </strong>{{this.stock}}</p>
                    <p><strong>Código: </strong>{{this.code}}</p>
                    <div class="flex-row-center">
                        <button class="m-1 pad-05">Agregar al carrito</button>
                    </div>
                </div>
            {{/each}}
        </div>
        <div class="flex-row-center">
            {{#if hasPrevPage}}
                <a href="/products?page={{prevPage}}"><button class="m-2 pad-05">Anterior</button></a>
            {{/if}}
            {{#if hasNextPage}}
                <a href="/products?page={{nextPage}}"><button class="m-2 pad-05">Siguiente</button></a>
            {{/if}}
        </div>
    </div>    
</div>  