<div>
    <header>
        <nav class="r-flex justify-content-center bg-color-1 min-h-12">
            <div class="r-flex align-items-center min-h-12 min-w-15">
                <div>
                    <a href="/products"><img src="./images/icons/brand-logo.png" alt=""></a>
                </div>
                <div class="navbarMenuContainer">
                    <ul id="navbarMenu" class="min-h-5 align-items-center">
                        <li id="navbarProducts">Productos</li>
                            <ul id="dropdownCategoryMenu" class="hidden ani-appear">
                                <a href="/products"><li>Todos los porductos</li></a>
                                <a href="/products?query={%22category%22%3A%22Sahumerios%22}"><li>Sahumerios</li></a>
                                <a href="/products?query={%22category%22%3A%22Defumacion%22}"><li>Defumacion</li></a>
                                <a href="/products?query={%22category%22%3A%22Conos y Cascadas%22}"><li>Conos y Cascadas</li></a>
                                <a href="/products?query={%22category%22%3A%22Sahumos%22}"><li>Sahumos</li></a>
                            </ul>
                        <li><a href="/realtimeproducts">Real Time Products</a></li>
                        <li><a href="/chat">Chat online</a></li>
                        <li><a href="/cart">Carrito</a></li>
                    </ul> 
                </div>
            </div>
            <div class="r-flex justify-content-end align-items-center txt-center">
                <div>
                    <div class="txt-center m-0 p-0">
                        <a href="/profile"><img  src="./images/icons/user.png" alt=""></a>
                    </div>
                        {{#if user}}
                            <div>
                                <strong><p class="m-0 mb-02e5">¡Bienvenido!</p></strong> 
                            </div>
                            <div class="txt-center">
                                <strong><p id="cartId" data-cart-id="{{user.cart._id}}" class="m-0">{{user.role}}: {{user.first_name}} {{user.last_name}}</p></strong> 
                                <strong><p class="m-0">email: {{user.email}}</p></strong> 
                                {{#if isAdmin}}
                                    <p class="m-0 orangered">Esta cuenta tiene derechos de administrador</p>
                                {{/if}}
                            </div>
                            <div class="txt-center mt-02e5">
                                <a href="/api/session/logout"><button>Cerrar sesión</button></a>
                            </div>
                            {{else}}
                            <div class="txt-left">
                                <strong><p class="m-0">Iniciar sesión: <a href="/">aquí</a></p></strong>
                                <strong><p class="m-0">Registrarse: <a href="/register">aquí</a></p></strong> 
                            </div>
                        {{/if}}
                </div>
            </div>
        </nav>
        <div id="advancedSearchButtonContainer" class="r-flex justify-content-center align-items-center min-h-5 bg-color-2">
            <button id="advancedSearchButton" class="min-h-2">Búsqueda avanzada</button>
        </div>
        <div id="advancedSearchBarContainer" class="ani-appear hidden">
            <div class="c-flex align-items-center min-h-15 bg-color-2">
                <h3>Filtrar por:</h3>
                <div class="r-flex justify-content-center align-self-center max-w-48">
                    <div class="c-flex justify-self-start mr-2 txt-center">
                        <div class="mb-1">
                            <input type="checkbox" id="checkboxProductName">Nombre del producto:
                        </div>
                        <input type="text" id="productNameInput">
                    </div>
                    <div class="c-flex justify-self-start mr-2 ml-02e5 txt-center">
                        <div class="mb-1">
                            <input type="checkbox" name="" id="checkboxCategory">Categoría:
                        </div>
                        <select name="productsCategory" id="productsCategory">
                            <option value=""></option>
                            <option value="Sahumerios">Sahumerios</option>
                            <option value="Defumacion">Defumacion</option>
                            <option value="Conos y Cascadas">Conos y Cascadas</option>
                            <option value="Sahumos">Sahumos</option>
                        </select>
                    </div>
                    <div class="c-flex justify-content-around mr-2 txt-center">
                        <div>
                            <input type="checkbox" id="checkboxPrice">Precio:
                        </div>
                            <span class="mt-1 txt-left">Valor mínimo</span>
                        <div class="r-flex align-self-center">
                            <input class="mr-02e5" type="range" id="minValuePriceRange" min="0" max="2000" onchange="showValue()">
                            <span id="minValuePrice">1000</span>
                        </div>
                            <span class="mt-1 txt-left">Valor máximo</span>
                        <div class="r-flex align-self-center">
                            <input class="mr-02e5" type="range" id="maxValuePriceRange" min="0" max="2000" onchange="showValue()">
                            <span id="maxValuePrice">1000</span>
                        </div>
                    </div>
                    <div class="c-flex justify-content-around mr-02e5 txt-center">
                        <div>
                            <input type="checkbox" id="checkboxStock">Stock:
                        </div>
                            <span class="mt-1 txt-left">Valor mínimo</span>
                        <div class="r-flex align-self-center">
                            <input class="mr-02e5" type="range" id="minValueStockRange" min="0" max="100" onchange="showValue()">
                            <span id="minValueStock">50</span>
                        </div>
                            <span  class="mt-1 txt-left">Valor máximo</span>
                        <div class="r-flex align-self-center">
                            <input class="mr-02e5" type="range" id="maxValueStockRange" min="0" max="100" onchange="showValue()">
                            <span id="maxValueStock">50</span>
                        </div>
                    </div>
                </div>
            </div>
            <div class="r-flex justify-content-center align-items-center bg-color-1 min-h-2">
                <button id="searchButton">Buscar</button>
            </div>
        </div>
    </header>
    <main class="p-2 min-h-50">
        <h1 class="txt-center">Lista de productos</h1>
        <div>
            <div class="r-flex justify-content-center wrap">
                {{#each products}}
                    <div class="productCard p-3 ani-appear">
                        <img class="productImage" src={{this.thumbnail}} alt="">
                        <p class="minSpaceTitleField"><strong>Nombre: </strong>{{this.title}}</p>
                        <p><strong>Categoria: </strong>{{this.category}}</p>
                        <p class="minSpaceDescriptionField"><strong>Descripción: </strong>{{this.description}}</p>
                        <p><strong>Precio: </strong>{{this.price}}</p>
                        <p><strong>Stock: </strong>{{this.stock}}</p>
                        <p><strong>Código: </strong>{{this.code}}</p>
                        <div class="r-flex justify-content-center">
                            <button id="addButton-{{this._id}}" data-product-id="{{this._id}}" class="m-1 p-02e5">Agregar al carrito</button>
                        </div>
                    </div>
                {{/each}}
                {{#if searchError}}
                    <h2>{{ searchError }}</h2>
                {{/if}}
            </div>
            <div class="r-flex justify-content-center">
                {{#if hasPrevPage}}
                    <a href="/products?page={{prevPage}}"><button class="m-2 p-02e5">Anterior</button></a>
                {{/if}}
                {{#if hasNextPage}}
                    <a href="/products?page={{nextPage}}"><button class="m-2 p-02e5">Siguiente</button></a>
                {{/if}}
            </div>
        </div>
    </main>
    <footer class="min-h-5 bg-color-1">

    </footer>    
</div>

<script src="/js/index-mongoDB.js"></script>